.videoPlayer {
  position: relative;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    max-width: 100%;
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 9;
    bottom: 5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    font-size: 16px;

    i {
      font-size: 1rem;
      cursor: pointer;
    }
    .videoPlayer__column:nth-child(1) {
      progress {
        width: 80%;
      }
      flex-grow: 10;
      width: 80%;
    }
    .videoPlayer__column:not(:first-child) {
      flex-grow: 1;
      max-width: 50px;
    }
    .videoPlayer__column:nth-child(2) {
      position: relative;
      &:hover {
        .videoPlayer__volume {
          opacity: 1;
        }
      }
      .videoPlayer__volume {
        opacity: 0;
        transition: opacity 1s;
        position: absolute;
        padding: 0;
        top: -60px;
        left: -30px;
        transform: rotate(-90deg);
        z-index: 10;
        width: 70px;
        input {
          background-color: rgba(0, 0, 0, 0.7);
          &::-webkit-slider-runnable-track {
            background-color: $grey;
            height: 5px;
          }
          &::-webkit-slider-thumb {
            all: unset;
            background-color: $red;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            position: relative;
            top: -5px;
          }
        }
      }
    }
  }
}
